@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.hide {
  display: none;
}

nav {
    margin-bottom: 20px;
    font-weight: bold;

    .navbar-brand {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 24px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 350px; 
}

.pages {
    margin-bottom: 30px;
}

#projectsPage {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.projectsCard {
    background-color: beige;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 4px black;
}

#projectTextBlock {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}

#boldText {
    font-weight: bold;
}

#projectDesc {
    margin-bottom: 10px;
}

#projectTech {
    margin-bottom: 10px;
}

#projectUrl {
    margin-bottom: 10px;
}

#projectGithubUrl {
    margin-bottom: 10px;
}

.link, a:hover {
  color: black;
}
