@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: rgb(255, 253, 239);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1, h2, nav {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 350px; 
}

.pages {
    margin-bottom: 30px;
}

#projectsPage {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.projectsCard {
    background-color: beige;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 4px black;
}

#projectTextBlock {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}

#boldText {
    font-weight: bold;
}

#projectDesc {
    margin-bottom: 10px;
}

#projectTech {
    margin-bottom: 10px;
}

#projectUrl {
    margin-bottom: 10px;
}

#projectGithubUrl {
    margin-bottom: 10px;
}
